<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>구매 오더 목록</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>구매 오더 헤더 목록</h1>

<table border="1">
    <thead>
    <tr>
        <th>구매오더 번호</th>
        <th>주문일자</th>
        <th>생성시각</th>
        <th>구매처 이름 (vendor.name)</th>
        <th>회사 코드 (companyCode)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="header : ${headers}">
        <td th:text="${header.id}"></td>
        <td th:text="${header.orderDate}"></td>
        <td th:text="${header.createdAt}"></td>
        <td th:text="${header.vendorCompany.vendor.name}"></td>
        <td th:text="${header.vendorCompany.companyCode}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
